@use "../abstracts" as *;
/***************************************
* - Components / Accordion
***************************************/
.faq-2-column-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 30px;
    row-gap: 30px;

    @include breakpoint(large) {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 40px;
    }
    @include breakpoint(xlarge) {
        column-gap: 64px;
    }
}

.accordion {
    display: flex;
    row-gap: 16px;
    flex-direction: column;
}

.accordion-item {
    border: 1px solid $border-color;
    &:first-of-type,
    &:last-of-type,
    &:not(:first-of-type) {
        border: 1px solid $border-color;
        border-radius: 0;
    }

    &:has(.show) {
        background-color: $color-grey-white;

        .accordion-button {
            border-color: rgba($border-color, 100%);
        }
    }
}

.accordion-button {
    outline: none;
    box-shadow: none;
    border-bottom: 1px solid rgba($border-color, 0%);
    padding: 12px 25px;
    color: $color-primary;
    font-weight: 700;
    font-size: 22px;
    font-family: $title-font;
    &::after {
        background-image: url("../../img/icons/icon-dark-chevron-down.svg");
        background-size: 11px;
        width: 10px;
        height: 10px;
    }

    &:not(.collapsed)::after {
        background-image: url("../../img/icons/icon-dark-chevron-down.svg");
    }

    &:not(.collapsed) {
        box-shadow: none;
        background-color: transparent;
        color: $color-primary;
    }

    &:focus {
        box-shadow: none;
    }
}
