@use '../abstracts' as *;

/***************************************
* Page Structure
***************************************/
.page-wrapper {
  overflow: inherit;
}

.main-wrapper {
  overflow: hidden;
}

/* Structure - Container */
.container-full {
  margin-inline: auto;
  width: 100%;
}
.container-custom {
  margin-inline: auto;
  width: calc(100% - 40px);

  @include breakpoint(xlarge) {
    width: calc(100% - 80px);
  }
  @include breakpoint(xxlarge) {
    width: calc(100% - 120px);
  }
  @include breakpoint(xxxlarge) {
    width: calc(100% - 232px);
  }
}

/*  Structure - Padding Global(global section padding left and right) */
.padding-global {
  padding-inline: 1.25rem;
  @include breakpoint(medium) {
    padding-inline: 2.5rem;
  }
}

/* Structure - Padding Section(section padding Top and Bottom) */
.section-bg-dark {
  background: $color-primary;
}

.section-block {
  margin-bottom: 35px;
}
.section-space-80 {
  padding-top: 60px;
  padding-bottom: 60px;
  @include breakpoint(medium) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
.section-space {
  padding-top: 60px;
  padding-bottom: 60px;
  @include breakpoint(medium) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  @include breakpoint(large) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  @include breakpoint(xlarge) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  @include breakpoint(xxlarge) {
    padding-top: 150px;
    padding-bottom: 150px;
  }
}
.section-space-top {
  padding-top: 60px;
  @include breakpoint(medium) {
    padding-top: 80px;
  }
  @include breakpoint(large) {
    padding-top: 100px;
  }
  @include breakpoint(xlarge) {
    padding-top: 120px;
  }
  @include breakpoint(xxlarge) {
    padding-top: 150px;
  }
}
.section-space-bottom {
  padding-bottom: 60px;
  @include breakpoint(medium) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  @include breakpoint(large) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  @include breakpoint(xlarge) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  @include breakpoint(xxlarge) {
    padding-bottom: 150px;
    padding-bottom: 150px;
  }
}

.section-space-xlarge-top {
  padding-top: 60px;
  @include breakpoint(medium) {
    padding-top: 80px;
  }
  @include breakpoint(large) {
    padding-top: 100px;
  }
  @include breakpoint(xlarge) {
    padding-top: 340px;
  }
  @include breakpoint(xxlarge) {
    padding-top: 370px;
  }
}
