@use "../abstracts" as *;
/***************************************
* Typography
***************************************/

body {
    color: $color-body;
    font-size: 1rem;
    line-height: 1.6;
    font-family: $body-font;
}

/* HTML Heading Tags */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    color: $color-primary;
    font-weight: 700;
    font-family: $title-font;
}

h1 {
    font-size: 36px;
    line-height: 1.15;
    @include breakpoint(large) {
        font-size: 52px;
    }
    @include breakpoint(xlarge) {
        font-size: 66px;
    }
    @include breakpoint(xxlarge) {
        font-size: 86px;
    }
}

h2 {
    font-size: 28px;
    line-height: 1.3;
    @include breakpoint(medium) {
        font-size: 32px;
    }
    @include breakpoint(large) {
        font-size: 36px;
    }
    @include breakpoint(xlarge) {
        font-size: 40px;
    }
}

h3 {
    font-size: 18px;
    line-height: 1.54;
    @include breakpoint(medium) {
        font-size: 22px;
    }
}

h4 {
    font-size: 1.25rem;
    line-height: 1.54;
    @include breakpoint(medium) {
        font-size: 1.5rem;
    }
}

h5 {
    font-size: 1rem;
    line-height: 1.5;
    @include breakpoint(medium) {
        font-size: 1.25rem;
    }
}

h6 {
    font-size: 0.875rem;
    line-height: 1.5;
    @include breakpoint(medium) {
        font-size: 1rem;
    }
}

/* Other HTML Tags */
p {
    font-size: inherit;
}

a {
    transition: $transition;
    color: inherit;
    text-decoration: none;

    &:hover {
        color: $color-orange;
    }
}

/*Section Text*/
.section-text {
    margin-top: 25px;
}

/* Heading Styles - Heading classes when typography style doesn't match the default HTML tag.  */
.heading-style-h1 {
    font-size: 2.5rem;
    line-height: 1.1;
    @include breakpoint(medium) {
        font-size: 4rem;
    }
}

.heading-style-h2 {
    font-size: 2rem;
    line-height: 1.2;
    @include breakpoint(medium) {
        font-size: 3rem;
    }
}

.heading-style-h3 {
    font-size: 1.5rem;
    line-height: 1.2;
    @include breakpoint(medium) {
        font-size: 2rem;
    }
}

.heading-style-h4 {
    font-size: 1.25rem;
    line-height: 1.4;
    @include breakpoint(medium) {
        font-size: 1.5rem;
    }
}

.heading-style-h5 {
    font-size: 1rem;
    line-height: 1.5;
    @include breakpoint(medium) {
        font-size: 1.25rem;
    }
}

.heading-style-h6 {
    font-size: 0.875rem;
    line-height: 1.5;
    @include breakpoint(medium) {
        font-size: 1rem;
    }
}

/* Text Classes - Text classes when typography style doesn't match the default HTML tag.  */
.text-color-light {
    color: rgba($color-white, 85%);
}

/* Text Sizes */
.text-size-large {
    font-size: 1.25rem;
    line-height: 1.5;
    @include breakpoint(medium) {
        font-size: 1.5rem;
    }
}
.text-size-medium {
    font-size: 1.25rem;
    line-height: 1.5;
}
.text-size-regular {
    font-size: 1rem;
    line-height: 1.5;
}
.text-size-tiny {
    font-size: 0.75rem;
    line-height: 1.5;
}

/* Icons - Unify icons sizes. icon-height sets height of icons. icon-1x1 sets both height and width of icons. */
.icon-height-small {
    width: auto;
    height: 1rem;
}
.icon-height-medium {
    width: auto;
    height: 2rem;
}
.icon-height-large {
    width: auto;
    height: 3rem;
}
.icon-1x1-small {
    width: 1rem;
    height: 1rem;
}
.icon-1x1-medium {
    width: 2rem;
    height: 2rem;
}
.icon-1x1-large {
    width: 2.5rem;
    height: 2.5rem;
}

// Rich Text
.text-rich-text {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 15px;

        &:not(:first-of-type) {
            margin-top: 40px;
        }
    }
    p {
        margin-bottom: 20px;
    }

    ul,
    ol {
        padding-top: 0rem;
    }

    ul {
        display: flex;
        row-gap: 10px;
        flex-direction: column;

        li {
            position: relative;

            &::before {
                position: absolute;
                top: 5px;
                left: 0;
                background-image: url("../../img/icons/icon-blue-check.svg");
                background-size: 16px;
                background-repeat: no-repeat;
                width: 21px;
                height: 21px;
                content: "";
            }
        }
    }

    ol {
        display: flex;
        row-gap: 20px;
        flex-direction: column;
        list-style: decimal;
    }

    img {
        display: inline-block;
    }

    blockquote {
        margin-block: 50px;
        background-color: $color-grey-white;
        padding: 30px 35px;
    }

    .blockquote-footer {
        position: relative;
        margin-top: 15px;
        margin-bottom: 0;
        padding-left: 55px;
        color: $color-primary;
        font-weight: 700;
        font-size: 20px;
        font-family: $title-font;

        &::before {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            background-color: $color-primary;
            width: 44px;
            height: 1px;
            content: "";
        }
    }
}
