@use '../abstracts' as *;
/***************************************
* Utilities
***************************************/
/* Useful utility systems - Utility classes we like to use in most of our projects to build faster. */
.horizontal-line {
  width: 100%;
  height: 1px;

  &.is-1 {
    background-color: $border-color;
  }
  &.is-2 {
    background-color: rgba($color-white, 15%);
  }
}

.have-triangle-shape {
  position: relative;
  z-index: 1;
  &::before,
  &::after {
    display: none;
    position: absolute;
    z-index: -1;
    width: 0;
    height: 0;
    content: '';

    @include breakpoint(medium) {
      display: inline-block;
    }
  }
  &::before {
    top: 0;
    left: 0;
    border-top: 100px solid $color-white;
    border-right: 100px solid transparent;
  }
  &::after {
    right: 0;
    bottom: 0;
    border-bottom: 100px solid $color-white;
    border-left: 100px solid transparent;
  }
}

.container-outer-background {
  @include breakpoint(xxlarge) {
    margin-inline: 60px;
  }
  @include breakpoint(xxxlarge) {
    margin-inline: 100px;
  }
}

.background-orange {
  background-color: $color-secondary;
}
.background-dark {
  background-color: $color-primary;
}
.background-grey {
  background-color: $color-grey-white;
}
.background-blue {
  background-color: $color-tertiary;
}

.review-star {
  display: flex;
  gap: 2px;
}

.content-2-grid {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;

  @include breakpoint(large) {
    grid-template-columns: 0.8fr 1fr;
  }

  &.gap-60 {
    column-gap: 30px;
    row-gap: 30px;

    @include breakpoint(medium) {
      column-gap: 60px;
    }
  }

  &.gap-90 {
    column-gap: 30px;
    row-gap: 30px;

    @include breakpoint(medium) {
      column-gap: 60px;
    }
    @include breakpoint(xlarge) {
      column-gap: 90px;
    }
  }
}

.content-2-grid-reverse {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  @include breakpoint(large) {
    grid-template-columns: 1fr 0.8fr;
  }

  &.gap-60 {
    column-gap: 30px;
    row-gap: 30px;

    @include breakpoint(medium) {
      column-gap: 60px;
    }
  }
}

.content-list {
  display: flex;
  row-gap: 40px;
  flex-direction: column;
  h3 {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 14px;
    font-weight: 700;
  }
}

.content-list-2 {
  display: flex;
  row-gap: 20px;
  flex-direction: column;

  li {
    position: relative;
    padding-left: 30px;

    &::before {
      position: absolute;
      top: 5px;
      left: 0;
      background-image: url('../../img/icons/icon-orange-check-round.svg');
      background-size: 21px;
      background-repeat: no-repeat;
      width: 21px;
      height: 21px;
      content: '';
    }
  }
}

.default-img-block {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-wrapper {
  transition-timing-function: linear;
}

.video-button-outer {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  animation: spin 10s linear infinite;
}

.video-btn {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: $color-white;
  width: 50px;
  height: 50px;
  color: $color-secondary;
  font-size: 20px;
}

.bg-half-gray-from-top {
  position: relative;
  z-index: 1;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: $color-grey-white;
    width: 100%;
    height: 50%;
    height: 50%;
    content: '';
  }
}

.default-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
  .swiper-pagination-bullet {
    display: inline-block;
    opacity: 1;
    border: 1px solid $color-primary;
    background-color: transparent;
    padding: 5px;
    width: 20px;
    height: 20px;

    &-active {
      display: inline-flex;
      position: relative;
      justify-content: center;
      align-items: center;
      border-color: $color-secondary;
      background-color: $color-secondary;
      &::after {
        position: absolute;
        border: 1px solid $color-white;
        border-radius: 50%;
        background-color: $color-secondary;
        width: 16px;
        height: 16px;
        content: '';
      }
    }
  }
}

.top-rating {
  display: flex;
  justify-content: center;
  gap: 0 100px;

  li {
    position: relative;

    &:not(:last-child):after {
      position: absolute;
      top: 0;
      left: calc(100% + 50px);
      background-color: $border-color;
      width: 1px;
      height: 43px;
      content: '';
    }
  }
}

.cta-block {
  position: relative;
  z-index: 2;
  margin-block: 60px;
  background-image: url('../../img/images/th-3/cta-shape.svg');
  background-position: top right;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 80px 24px;

  @include breakpoint(large) {
    margin-block: 80px;
  }
  @include breakpoint(xlarge) {
    transform: translateY(170px);
    margin-block: 0px;
  }
}

.cta-image-block {
  display: none;
  position: absolute;
  bottom: -10px;
  left: 60px;

  @include breakpoint(large) {
    display: block;
  }
}

// Progress Bar
.progress-list {
  display: flex;
  row-gap: 25px;
  flex-direction: column;
  margin-top: 22px;

  .progress-title {
    display: inline-block;
    margin-bottom: 5px;
    color: $color-primary;
    font-weight: 700;
  }
}

.progress {
  background-color: rgba($color-secondary, 12%);
  height: 8px;
  overflow: visible;
}

.progress-bar {
  position: relative;
  border-radius: 17px;
  overflow: visible;
  span {
    position: absolute;
    top: -30px;
    right: 0;
    color: $color-primary;
    font-weight: 700;
    font-size: 16px;
  }
}
