@use "../../abstracts" as *;
/***************************************
*  - Sections / Hero - 3
***************************************/

.hero-slider-wrapper {
    position: relative;
    top: -20px;

    @include breakpoint(small) {
        top: -25px;
    }
    @include breakpoint(medium) {
        top: -35px;
    }

    @include breakpoint(xxlarge) {
        top: -90px;
    }

    .hero-video-btn {
        position: relative;
        bottom: 46px;
        left: 50%;
        z-index: 1;

        img {
            width: 100px;
            height: 100px;
        }

        @include breakpoint(large) {
            left: calc(100% - 360px);

            img {
                width: 120px;
                height: 120px;
            }
        }
        @include breakpoint(xlarge) {
            img {
                width: 140px;
                height: 140px;
            }
        }
        @include breakpoint(xxlarge) {
            bottom: 46px;
            left: calc(100% - 360px);

            img {
                width: 160px;
                height: 160px;
            }
        }
    }
}

.hero-slider {
    overflow: visible;
}

.hero-slider-item {
    position: relative;
}

.hero-content-wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    width: 100%;
}

.hero-slider-content-block {
    h1 {
        margin-bottom: 15px;
        color: $color-white;
    }
    p {
        color: rgba($color-white, 65%);
        font-size: 22px;
    }

    .hero-inner-button-group {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin-top: 40px;
    }
}

.hero-slider .swiper-slide-active .hero-slider-content-block {
    h1 {
        animation: fadeInUp 1s ease 0.3s 1 backwards;
    }
    p {
        animation: fadeInUp 1s ease 1s 1 backwards;
    }

    .hero-inner-button-group {
        animation: fadeInUp 1s ease 1.3s 1 backwards;
    }
}

.hero-img-block {
    position: relative;
    transform: skewY(-5deg);
    z-index: 1;
    max-height: 2000px;

    @include breakpoint(xlarge) {
        transform: skewY(-4deg);
    }
    @include breakpoint(xxlarge) {
        transform: skewY(-5deg);
    }

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        background: rgb(10, 10, 10);
        background: radial-gradient(circle, rgba(10, 10, 10, 0.34) 0%, rgba(7, 6, 10, 1) 68%);
        width: 100%;
        height: 100%;
        content: "";
    }
}

.hero-img {
    width: 100%;
    height: 576px;
    object-fit: cover;
    object-position: center center;

    @include breakpoint(small) {
        height: 576px;
    }
    @include breakpoint(medium) {
        height: 600px;
    }
    @include breakpoint(large) {
        height: 768px;
    }
    @include breakpoint(xlarge) {
        height: 900px;
    }
    @include breakpoint(xxlarge) {
        height: 992px;
    }
    @include breakpoint(xxxlarge) {
        height: 1090px;
    }
}

.hero-button-block {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    justify-content: space-between;
    align-items: center;
    transform: translateX(-50%);
    z-index: 1;
    width: calc(100% - 20px);
    @include breakpoint(medium) {
        width: calc(100% - 120px);
    }
    @include breakpoint(large) {
        width: calc(100% - 160px);
    }
    @include breakpoint(xlarge) {
        width: calc(100% - 200px);
    }
}

.hero-slide-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: $transition;
    border-radius: 50%;
    background-color: rgba($color-white, 17%);
    width: 30px;
    height: 30px;
    color: $color-white;

    @include breakpoint(small) {
        width: 56px;
        height: 56px;
    }
    &:hover {
        background-color: $color-white;
        color: $color-primary;
    }
}
