@use "../../abstracts" as *;
/***************************************
* - Sections / Hero - 2
***************************************/
.hero-bg-2 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba($color-primary, 95%);
        width: 100%;
        height: 100%;
        content: "";
    }
}

.hero-area {
    display: grid;

    &--2 {
        grid-template-columns: repeat(1, 1fr);
        align-items: end;
        gap: 40px;
        padding-top: 177px;
        padding-inline-start: 20px;
        padding-inline-end: 20px;
        overflow: hidden;

        @include breakpoint(medium) {
            grid-template-columns: 1fr 0.6fr;
            gap: 60px;
        }

        @include breakpoint(xxlarge) {
            grid-template-columns: 1fr 500px;
            gap: 100px;
            margin-inline: auto;
            padding-inline-start: 24px;
            padding-inline-end: 24px;
            max-width: 1320px;
        }
        @include breakpoint(xxxlarge) {
            grid-template-columns: 1fr 0.85fr;
            align-items: end;
            gap: 130px;
            margin-inline: 0;
            padding-inline-start: 100px;
            padding-inline-end: 207px;
            max-width: 100%;
        }
    }
}

.hero-top,
.hero-bottom {
    position: relative;
    z-index: 1;
}

.hero-content-block--2 {
    padding-bottom: 40px;
    @include breakpoint(medium) {
        padding-bottom: 100px;
    }
    @include breakpoint(xlarge) {
        padding-bottom: 160px;
    }
    @include breakpoint(xxlarge) {
        padding-bottom: 150px;
    }
    @include breakpoint(xxxlarge) {
        padding-bottom: 202px;
    }
    h1 {
        margin-bottom: 15px;
        color: $color-white;
    }
    p {
        color: rgba($color-white, 65%);
    }
}

.hero-image-block {
    position: relative;
    z-index: 1;

    &--2 {
        display: flex;
        align-items: center;
        justify-items: center;
        max-width: 676px;

        img:nth-child(1) {
            transform: translateY(15px);
        }
    }
}

.hero-shape-img {
    position: absolute;
    z-index: -1;

    &--1 {
        @include breakpoint(xxxlarge) {
            right: 0;
            bottom: -190px;
        }
    }
}

// Hero Abstract
.hero-stripe-1 {
    display: none;
    position: absolute;
    right: 0;
    bottom: 190px;
    transform: rotate(40deg);
    z-index: -1;
    background-color: $color-secondary;
    width: 223px;
    height: 860px;

    @include breakpoint(xxlarge) {
        display: block;
        bottom: -111px;
        width: 227px;
    }
    @include breakpoint(xxxlarge) {
        bottom: 178px;
    }
}
