// Common Color
$color-black: #000;
$color-white: #fff;

// Template Color
$color-dark: #1e1c2a;
$color-orange: #e55e04;
$color-blue: #0043ED;
$color-grey-white: #F3F3F4;
$color-body: #616161;

// Theme Color
$color-primary: $color-dark;
$color-secondary: $color-orange;
$color-tertiary : $color-blue;
$body-color: $color-body;

// Border-color
$border-color: #dedede;
