@forward "./hero";
@forward "./countup";
@forward "./service";
@forward "./project";
@forward "./testimonial";
@forward "./work-progress";
@forward "./team";
@forward "./blog";
@forward "./pricing";
