@use "../abstracts" as *;
/***************************************
* - Sections / Service
***************************************/
.service-wrapper--1 {
    position: relative;
    padding: 40px;

    @include breakpoint(small) {
        padding: 80px;
    }

    &::after {
        position: absolute;
        right: 0;
        bottom: 0;
        border-bottom: 80px solid $color-white;
        border-left: 80px solid transparent;
        width: 0;
        height: 0;
        content: "";

        @include breakpoint(small) {
            border-bottom: 125px solid $color-white;
            border-left: 125px solid transparent;
        }

        @include breakpoint(xlarge) {
            border-bottom: 200px solid $color-white;
            border-left: 200px solid transparent;
        }
    }

    .service-block-right {
        @include breakpoint(large) {
            margin-left: 66px;
        }

        p {
            margin-bottom: 30px;
        }

        a {
            margin-bottom: 40px;
        }

        .service-img {
            position: relative;
            z-index: 1;

            @include breakpoint(xlarge) {
                margin-bottom: -180px;
            }
        }
    }
}

.service-list-text {
    display: flex;
    row-gap: 45px;
    flex-direction: column;
    font-weight: 500;
    font-size: 20px;
    @include breakpoint(medium) {
        font-size: 28px;
    }
    @include breakpoint(medium) {
        font-size: 30px;
    }
    @include breakpoint(xlarge) {
        font-size: 40px;
    }

    li {
        position: relative;

        &::after {
            position: absolute;
            bottom: calc(0% - 22.5px);
            left: 0;
            background: rgba($color-white, 15%);
            width: 100%;
            height: 1px;
            content: "";
        }

        &:last-child::after {
            display: none;
        }
    }

    a {
        display: flex;
        row-gap: 30px;
        justify-content: space-between;
        align-items: center;
        color: rgba($color-white, 80%);
        span {
            font-size: 28px;
        }

        &:hover {
            color: $color-secondary;
        }
    }
}

.service-info-title {
    margin-bottom: 10px;
    color: $color-primary;
    font-weight: 700;
}
.service-info-list {
    display: flex;
    row-gap: 5px;
    flex-direction: column;

    li {
        position: relative;
        padding-left: 14px;
        &::before {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            border-radius: 50%;
            background-color: $color-tertiary;
            width: 6px;
            height: 6px;
            content: "";
        }
    }
}

.service-list--2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 60px;
    margin-bottom: -35px;
    overflow: hidden;

    @include breakpoint(medium) {
        grid-template-columns: repeat(2, 1fr);
    }
    @include breakpoint(large) {
        gap: 130px 92px;
        margin-bottom: -130px;
    }

    li {
        position: relative;

        &::after {
            position: absolute;
            bottom: -35px;
            left: 0;
            border-bottom: 1px solid $border-color;
            background-color: $border-color;
            width: 100%;
            height: 1px;
            content: "";

            @include breakpoint(large) {
                bottom: -70px;
            }
        }
    }

    .service-content {
        margin-top: 20px;
        margin-bottom: 15px;
        @include breakpoint(small) {
            margin-bottom: 35px;
        }
        h3 {
            margin-bottom: 4px;
        }
    }

    .service-number {
        -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
        -webkit-text-stroke-color: rgba($color-primary, 25%);
        -webkit-text-stroke-width: 1px;
        color: transparent;
        font-weight: 700;
        font-size: 86px;
        line-height: 1;
        font-family: $title-font;
    }
}

.service-section-bg-half-gray {
    position: relative;
    z-index: 1;
    overflow: hidden;
    &::after {
        position: absolute;
        top: -340px;
        left: 0;
        transform: skewY(-5deg);
        z-index: -1;
        background-color: $color-grey-white;
        width: 100%;
        // height: calc(100% - 239px);
        height: 100%;
        content: "";
    }
}

.service-list--3 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 83px 24px;
    margin-top: 100px;

    @include breakpoint(medium) {
        grid-template-columns: repeat(2, 1fr);
    }
    @include breakpoint(large) {
        grid-template-columns: repeat(3, 1fr);
    }

    & > li {
        position: relative;
        border: 1px solid $border-color;
        background-color: $color-white;
        padding: 80px 35px 35px 35px;
    }

    .service-icon {
        display: inline-flex;
        position: absolute;
        top: calc(0% - 41px);
        justify-content: center;
        align-items: center;
        border: 1px solid $border-color;
        background-color: $color-white;
        width: 88px;
        height: 82px;

        img {
            width: 52px;
            height: auto;
        }
    }

    .btn {
        display: flex;
        margin-top: 35px;
    }
}

.why-us-abstruct--1 {
    display: none;
    position: absolute;
    top: 176px;
    left: 163px;
    z-index: -1;
    @include breakpoint(large) {
        display: inline-block;
    }
}
.why-us-abstruct--2 {
    position: absolute;
    right: 172px;
    bottom: 24px;
    z-index: -1;
}

.why-us-block--2 {
    background-color: $color-secondary;
    padding: 40px;

    @include breakpoint(small) {
        padding: 90px 90px 90px 58px;
    }

    li {
        &:not(:last-child) {
            margin-bottom: 40px;
            border-bottom: 1px solid rgba($color-white, 15%);
            padding-bottom: 40px;
        }
    }

    .content-top {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 18px;
        margin-bottom: 17px;

        @include breakpoint(small) {
            flex-direction: row;
            align-items: center;
        }

        h3 {
            color: $color-white;
        }
    }

    p {
        color: rgba($color-white, 85%);
    }
}
